<launch>

  <param name="/use_sim_time" value="true"/>
  <arg name="simulation_factor" value="1.0" />
  <arg name="update_rate" default="80.0" />
  <arg name="time_step" default="0.05" />

  <!-- main simulator node -->
  <node name="pedsim_simulator" pkg="pedsim_simulator" type="pedsim_simulator" output="screen">
      <!-- 0 - headless, 1 - minimal, 2 - full -->
      <param name="simulation_factor" value="$(arg simulation_factor)" type="double"/>
      <param name="update_rate" value="$(arg update_rate)" type="double"/>
      <param name="time_step" value="$(arg time_step)" type="double"/>
      <param name="visual_mode" value="0" type="int"/>
      <param name="scene_file" value="$(find gps_agent_pkg)/pedsim/scenarios/scene4.xml" type="string"/>
      <param name="default_queue_size" value="10"/>
      <param name="max_robot_speed" value="2.5" type="double"/>
      <param name="robot_radius" value="1.0" type="double"/>
      <param name="robot_forceSocial_weight" value="10.0" type="double"/>
      <param name="robot_mode" value="1" type="int"/>
      <param name="enable_groups" value="true" type="bool"/>
      <param name="move_cycle" value="false" type="bool"/>

      <param name="robot_initial_x" value="4.0"/>
      <param name="robot_initial_y" value="4.0"/>
      <param name="robot_initial_theta" value="0.0"/>
  </node>

  <!-- visualization -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find gps_agent_pkg)/pedsim/rviz/social_contexts_activities.rviz"/>

</launch>
